div.item {
    margin-bottom: 20px;
}

div.item .align {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
}

div.item .align:first-child div:first-child {
    font-weight: bold;
    color: black;
    font-size: 16pt;
}

div.item .align div {
    margin: 0px;
}

div.item .align div:first-child {
    margin: 0px;
    max-width: 60%;
    color: #003b6f;
    font-weight: normal;
    font-size: 14px;
}

div.item .align div:last-child {
    color: #79889B;
    font-size: 15px;
    max-width: 30%;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    /* The following puts the text at the top of the box. Replace top by bottom to align at the bottom */
    top: 0;
    margin: auto;
}