body {
    background: #F5F4FE;
}

main {
    background: white;
    box-sizing: border-box;
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
    min-height: 850px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #003b6f;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

i.section-icon {
    text-align: center;
    vertical-align: top;
    padding-top: 7px;
    margin: auto;
    margin-right: 20px;
}

i.section-icon::before {
    font-size: 35px;
    color: #003b6f;
}