main .sidebar {
    background: #1f5a8e;
    color: whitesmoke;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    min-height: 850px;
    text-align: center;
}

main .sidebar~div,
main .sidebar~article,
main .sidebar~section {
    margin-left: 300px;
}

main .sidebar h2 {
    color: beige;
}

main .sidebar .profile-container {
    background: #003b6f;
    padding-top: 30px;
    padding-bottom: 30px;
}

main .sidebar .name {
    font-size: xx-large;
    margin-bottom: 10px;
}

main .sidebar .position {
    font-size: larger;
    margin-bottom: 10px;
}

main .sidebar .organization {
    font-size: large;
}

main .sidebar section {
    font-size: 15px;
}

main .sidebar section ul {
    text-align: left;
}

main .sidebar section li {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 14px;
}

main .sidebar a {
    color: antiquewhite;
}

main .sidebar a:hover {
    color: #003b6f;
}

i.contact-icon,
img.contact-icon {
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
    margin: auto;
    margin-right: 10px;
}

i.contact-icon::before {
    font-size: 15px;
    color: antiquewhite;
}