.sidebar {
    background: #1f5a8e;
    color: whitesmoke;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    min-height: 850px;
}

.sidebar~div,
.sidebar~article,
.sidebar~section {
    margin-left: 300px;
}

.sidebar h1,
.sidebar h2,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
    color: beige;
    text-align: center;
}

.sidebar .profile-container {
    background: #003b6f;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.sidebar .name {
    font-size: xx-large;
    margin-bottom: 10px;
}

.sidebar .position {
    font-size: larger;
    margin-bottom: 10px;
}

.sidebar .organization {
    font-size: large;
}

.sidebar section {
    font-size: 15px;
}

.sidebar section ul {
    text-align: left;
}

.sidebar section li {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.sidebar a {
    color: antiquewhite;
}

.sidebar a:hover {
    color: #003b6f;
}

.sidebar i.contact-icon,
.sidebar img.contact-icon {
    text-align: center;
    vertical-align: top;
    padding-top: 4px;
    margin: auto;
    margin-right: 10px;
}

.sidebar .contact-icon::before {
    font-size: 15px;
    color: antiquewhite;
}

.sidebar i.section-icon::before {
    color: white;
}

.sidebar section ul,
.sidebar section div {
    padding-left: 15px;
}